@model ProductBike

@{
	ViewData["Title"] = "Delete Product";
}

<div class="container">
	<div class="card form-floating shadow">
		<div class="card-header bg-dark text-light">
			<div class="col-12 text-center">
				<h1>Delete Product</h1>
			</div>
		</div>

		<div class="card-body">
			<form method="post">
				<div class="border p-3">
					<input asp-for="Id" hidden />
					<div class="col-12 p-3">
						<label asp-for="Manufacturer"></label>
						<input asp-for="Manufacturer" class="form-control" disabled/>
					</div>
					<div class="col-12 p-3">
						<label asp-for="Name"></label>
						<input asp-for="Name" class="form-control" disabled/>
					</div>
					<div class="row p-3">
						<div class="col-4">
							<label asp-for="Version"></label>
							<input asp-for="Version" class="form-control" disabled/>
						</div>
						<div class="col-4">
							<label asp-for="Year"></label>
							<input asp-for="Year" class="form-control" disabled/>
						</div>
						<div class="col-4">
							<label asp-for="CategoryId"></label>
							<select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select" disabled>
								<option disabled selected>---Select Category---</option>
							</select>
							<span asp-validation-for="CategoryId"></span>
						</div>
					</div>
					<div class="col-12 p-3">
						<label asp-for="Price"></label>
						<input asp-for="Price" class="form-control" />
					</div>
					<div class="col-12 p-3">
						<label asp-for="Description"></label>
						<input type="text" asp-for="Description" class="form-control" disabled/>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-6">
						<button type="submit" class="btn btn-outline-primary form-control shadow-sm rounded">
							<i class="bi bi-trash-fill"></i> Delete
						</button>
					</div>
					<div class="col-6">
						<a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control shadow-sm rounded">
							<i class="bi bi-x-circle-fill"></i> Close
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>



