@model List<ProductBike>

@{
    ViewData["Title"] = "Product";
}

<partial name="_Notification">

<div class="container">

    <div class="card form-floating shadow">
        <div class="card-header bg-dark">
            <div class="col-12 text-center">
                <h1 class="text-light">Products</h1>
            </div>
        </div>
        <div class="text-center">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-outline-primary shadow-sm w-25 mt-2 rounded">
                    <i class="bi bi-plus-square"></i> Add New Product
            </a>
        </div>
        <div class="card-body">
            <table id="product-table" class="table table-bordered table-striped-columns table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Version</th>
                        <th class="text-center">Year</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Manufacturer</th>
                        <th class="text-center">Category</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/js/product.js"> </script>
}
